textarea { resize:none; font-family:Verdana, Arial, Helvetica, sans-serif }
input { font-family:Verdana, Arial, Helvetica, sans-serif }
p { font-family:Verdana, Arial, Helvetica, sans-serif }
#left { float:left; width:50% }
#words { margin-left:50%; width:50% }
#text1 { width:90%; height:20em; }
#last { width:90%; height:3em; }
#apikey { width:90%; height:3em; }
